{% extends "core/base.html" %}
{% block extrahead %}
{% load staticfiles %}
{% include "alat/asml.html" %}
{% endblock %}
{% block section %}Simulasi{% endblock %}
{% block content %}
{% load number_format %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            Simulasi
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="span4">
        <h3 class="heading">Simulasi Kredit CISO</h3>
        <form class="tabular">   
        <div class="row-fluid">
    	   {{form.kode_inst}}   
        </div>
	<div><label>Bank Pendana</label>{{form.kode_bank}}</div>
        <div class="row-fluid">
    	   {{form.tglinput}}&nbsp;
    	   <input type="text" class="input-small ttip_r mask" style="text-align: center" name="usia" id="tgllahir" title="Langkah Kedua" onchange="" onblur="masker(this.value,this,'2,5','-');cekusia_baru(this.value)" placeholder="DD-MM-YYYY"/>
        </div>
        <div class="row-fluid">
    	    {{form.thnusia}}&nbsp;{{form.blnusia}}&nbsp;{{form.hariusia}}
        </div>
                {{form.min_usia}}&nbsp;{{form.max_usia}}
        <div class ="row-fluid"> <label>Status_pensiun</label>{{form.status_pensiun}}</div>
        <div class ="row-fluid"> <label>Jenis Pengajuan</label> {{form.jenis_pengajuan}}</div>
        
    </div>
    <div class="span4">
        <h3 class="heading">Produk</h3>
        <div class="row-fluid"> <label>Produk</label>
            {{form.produk}}&nbsp;{{form.id_param}}
        </div>
    	<div class="row-fluid">
    		<label>DSR</label> {{form.pers_max}} 
    	</div>

    	<div class="row-fluid">
    		{{form.gajibersih}}{{form.angs_max}}
    	</div>

        <div class="row-fluid">
            <input type="text" class="input-small ttip_r" style="text-align: right" name="jangka_bulan" id="tenor" onkeyup="kosongkan()" onchange="kosongkan()" onblur="validasi_tenor();maks_plafond();" placeholder="tenor pengajuan" title="Langkah Ke Delapan"/> bulan
            {{form.tenormaks}} Bulan
        </div>
        

    </div>
    <div class="span4">
        <h3 class="heading">Hitungan</h3>
        
        <div class="row-fluid">
            {{form.plafonmax}}
        </div>
        <div class="row-fluid"><input type="text" name="flat_bln" id="flat_bln" class="required input-mini" style="text-align: right; display:none;" readonly="True"/>
        </div>

        <div class="row-fluid">
            {{form.plafonusul}}
        </div>
        <div class ="row-fluid"> <label>Mutasi</label> {{form.mutasi}}</div>
        <div class="row-fluid">
                {{form.retensi}}&nbsp;{{form.n_retensi}}
        </div>

       </div>
        <div class="span4"> 
           <div class="form-actions">
              <button class="btn btn-inverse tablular" type="button" onclick="cek_ulang_kredit()" >
              <i class="icon-white icon-ok-circle"></i>
              Hitung</button>
              <button class="btn"><a href="/">Cancel</a></button>
           </div>         
        </div>

    </div>
</div>

<div class="modal hide fade" id="mymodal">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>


{% block javascript %}
 {% include 'alat/ajax_simulasi.js' %}
{% endblock %}


{%endblock%}

